.lit{
    background-image: url('https://img.freepik.com/free-photo/black-brick-wall-textured-background_53876-63572.jpg?w=900&t=st=1693506731~exp=1693507331~hmac=e805354e831bbbe5613dc11d2a20a72a3a27eefc99dfd6652f16ac9157ec0179');
    color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
}